@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --pr-black: #0C0C0C;
    --sr-black: #0F0F0F;
    --tr-black: #131313;
    --vr-lavender: #5431ed;
    --pr-lavender: #7456FF;
    --sr-lavender: #8368FF;
    --sr-grey: #999999;
    --tr-grey: rgba(255, 255, 255, 0.14);
}

* {
    font-family: "Poppins", sans-serif !important;
    scroll-behavior: smooth;
}

body {
    background-color: var(--pr-black) !important;
}

.fs-7 {
    font-size: small !important;
}

.text-justify {
    text-align: justify !important;
}